streamlit
django-grappelli
audioread
audioflux
authlib
django-allauth
django-oauth-toolkit
altair
bokeh
bqplot
cartopy
diagrams
python-dateutil
django-debug-toolbar
awesome-slugify
python-slugify
python-slugify[unidecode]
shortuuid
django-unfold
django-jazzmin
django-semantic-admin
django_compressor
django-pipeline
django-guardian
cookiecutter
django-autocomplete-light
django-image-cropping
django-rosetta
django-tinymce
python-avatars
pyavatar
